SOCKET = '/var/run/mkhomedird.socket'
SOCKET_USER = 'root'
SOCKET_GROUP = 'www-data'
SOCKET_MODE = 0o660

DIRECTORIES = {
		'{homedir}': {
			'create': '/etc/skel',
			},
		'/storage/public/{name}': {
			'create': True,
			},
		'/storage/.Trash/{uid}': {},
		'/var/guix/profiles/per-user/{name}': {},
		}

