[Unit]
Description=Homedir creation daemon

[Service]
ExecStart=/usr/local/bin/clumsy mkhomedird
Environment="SETTINGS_FILE=/usr/local/etc/clumsy/mkhomedird.config"
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
