SOCKET = '/var/run/usermgrd.socket'
SOCKET_USER = 'root'
# allow ssh forwarding
SOCKET_GROUP = 'ubuntu'
SOCKET_MODE = 0o660

MIN_UID = 10000
MAX_UID = 5000000

# LDAP admin authentication
LDAP_SERVER = 'ldap://example.com'
LDAP_USER = 'cn=usermgrd,ou=system,dc=example,dc=com'
LDAP_PASSWORD = ''
LDAP_ENTRY_PEOPLE = 'uid={user},ou=people,dc=compute,dc=zpid,dc=de'
LDAP_ENTRY_GROUP = 'cn={user},ou=group,dc=compute,dc=zpid,dc=de'
LDAP_EXTRA_CLASSES = ['x-signatory']

# Kerberos admin authentication
KERBEROS_USER = 'usermgrd/example.com'
KERBEROS_KEYTAB = '/path/to/keytab'
# set expiration date on kerberos principal. Set to 'never' to enable accounts
# unconditionally and 'yesterday' to disable them from the start.
KERBEROS_EXPIRE = 'yesterday'

# connections to other daemons
NSCDFLUSHD_SOCKET = '/var/run/nscdflushd.socket'
MKHOMEDIRD_SOCKET = '/var/run/mkhomedird.socket'

# home directory
HOME_TEMPLATE = '/storage/home/{user}' 
